.comp-service-block .items {
  background-color: #f9f9f9;
  min-height: 210px;
  margin-bottom: 30px;
  display: flex;
  align-items: stretch;
}

.comp-service-block .items-img {
  position: relative;
  width: 41%;
  text-align: center;
  background-color: white;
  box-shadow: 0 6px 40px 0 rgb(0 0 0 /15%);
}

.comp-service-block .items-img img {
  text-align: center;
  vertical-align: middle;
}

.comp-service-block .items:hover {
  transition: box-shadow 0.8s;
  min-height: 205px;
  box-shadow: 0 6px 40px 0 rgb(0 0 0 /40%);
}

.comp-service-block .items .items-content {
  width: 59%;
  float: left;
  height: auto;
  padding: 40px 20px;
  background-color: #fafafa;
  overflow: hidden;
}

.comp-service-block .items-content.items-topic {
  color: #2c323a;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 7px;
}

.comp-service-block .items-content .items-desc {
  color: #6f7681;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 22px;
  height: auto;
}

.comp-service-block .items-img::after {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

@media screen and (max-width: 600px) {
  .comp-service-block {
    font-size: 30px;
    font-family: "Poppins";
  }

  .comp-service-block .items,
  .comp-service-block .items-img {
    min-height: 90px;
  }

  .comp-service-block .row .lg-col-6 {
    width: 100%;
  }

  .comp-service-block .items-img img {
    object-fit: cover;
  }

  .comp-service-block .items .items-content {
    padding: 20px 10px;
  }

  .comp-service-block .items-content .items-topic {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 5px;
  }

  .comp-service-block .items-content .items-desc {
    font-size: 12px;
    line-height: 16px;
  }
}
